div.header {
    height: 100px;
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
    display: flex; 
    padding-left: 15%;
    align-items: center;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
}

div.header p{
    font-size:28px;
    font-family: "Baskerville"
}