body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.mainContainer{
  background-color: #fcfcfc;
  display:flex; 
  flex-direction: column;
}

.loading{
  width: 100%;
  height: 100%; 
  position: fixed;
  top: 0px;
  left:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(96, 96, 96,0.3);
}

.spinner {
  width: 36px;
  height: 36px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-left-color: black;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'RobotoRegular';
  src: local('RobotoRegular'), url(./assets/fonts/RobotoRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoMedium';
  src: local('RobotoMedium'), url(./assets/fonts/RobotoMedium.ttf) format('truetype');
}

@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville'), url(./assets/fonts/Baskerville.ttf) format('truetype');
}